@media only screen and (min-width: 769px) and (max-width: 1920px) {
   .pc-hide{
    display: none;
   }
    .liList li {
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 4px 6px;
    }
    .liList span:active{
        color: var(--primary);
    }
    .liList span {
        cursor: pointer;
        color: var(--white);
    }

    .liList button {
        color: var(--black);
    }
    
}
